.secondary {
    cursor: pointer;
    padding: 20px 34px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid  #92959A;
    margin-left: 20px;
    color: #202020;
}